---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Templates">
  <h1>Templates</h1>
  <p>Struggling to stay ontop of everything? Download planners, trackers, and checklists to make life a little softer.</p>
</Layout>