---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Ask Me">
  <h1>Ask Me</h1>
  <p>Want to get something off your chest, offer some advice, or ask burning question? Send it in here and Little Miss Rabbit will reply soon.</p>
</Layout>