---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import HomeSectionCard from "../components/home/HomeSectionCard.astro";
---

<Layout>
  <Hero />

  <section class="home-grid">
    <HomeSectionCard
      title="Templates"
      items={["Daily Planner", "Weekly Reset", "Fitness Tracker"]}
    />

    <HomeSectionCard
      title="Blog"
      items={["Travel", "Fitness", "Advice"]}
    />

    <HomeSectionCard
      title="Latest Recipes"
      items={["Flapjacks", "Chick n Chick Salad", "Sausage Pasta"]}
    />
  </section>
</Layout>

<style>
  	.home-grid {
  	display: grid;
  	grid-template-columns: repeat(3, minmax(320px, 1fr));
  	gap: 3.5rem;
  	margin: 0.1rem auto 0;
	padding: 0 3rem;
  	max-width: 1200px;
	}

	/* Responsive: stack on small screens */
	@media (max-width: 1000px) {
  		.home-grid {
    		grid-template-columns: 1fr;
			max-width: 600px;
			padding: 0 1.5rem
  		}
	}
</style>
