<section class="announcement">
  <p>Sign up to the mailing list to become part of the warren!</p>
</section>

<style>
  .announcement {
    width: 100%;
    background: var(--gold);
    padding: 1rem 1.25rem;
    text-align: center;
    font-weight: 700;
    font-family: "Playfair Display", serif;
  }

  .announcement p {
    margin: 0;
  }
</style>
