---
const today = new Date();
---

<footer class="footer">
  <p>&copy; {today.getFullYear()} Little Miss Rabbit. All rights reserved.</p>
</footer>

<style>
  .footer {
    padding: 2.5rem 1rem 4rem;
    text-align: center;
    opacity: 0.8;
  }

  .footer p {
    margin: 0;
  }
</style>
