---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";

const { title } = Astro.props;
const pageTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
---

<html lang="en">
  <head>
    <BaseHead title={pageTitle} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    width: min(60ch, 100% - 2rem);
    margin: 0 auto;
    padding: 2rem 0 4rem;
  }
</style>
